/* *{
    font-size:30px ;
} */


p{
    color: blue;

}
ul li{
    color: rgb(136, 14, 14);
    list-style: none;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    margin-left: 5%;
    margin-right: 5%;
}


#FIRST{
    color: chartreuse;
    font-style:italic;

}

#SECOND{
    color: darkblue;
    font-size: large;
    text-shadow: black;
}

.definitions{
    border-radius: 20px;
    background: yellow;
    height: 10%;
    width: 30%;
    box-sizing:border-box;
    box-shadow:black;
    border-color:blue;
    border-style: solid;
    float: right;
}

.illustrations{
    box-sizing: content-box;
    background-color: red;
    border-style: outset;
    height: 60%;
    width: 40%;
    border-inline-start-color: chartreuse;
}
#THIRD{
    color: cyan;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

.dan{
    border-style: inset;
    border-color: rgba(128, 255, 0, 0.973);
    text-shadow: rgb(252, 167, 106);
    color : rgb(96, 146, 153);
    text-align: center;
    width: 105%;
    box-align: right;

}

#one{
    font-style: italic;
    font-size: small;
    color: rgb(226, 130, 181);
    font-family:'Segoe UI';
}
#two{
    font-style: italic;
    font-size: small;
    color: rgb(226, 130, 181);
    font-family: sans-serif;
    background-color: whitesmoke;
}

#TEN{
    size: 1200px;

}

.din{
    background-color: whitesmoke;
    width: 50%;
    background-size: 126%;
}



.den{
    background-color: rgb(190, 85, 190);
    width: 100%;
    margin-top: 0.5%;
}
#three{
    float: right;
    background-color: yellow;
    margin-top: -33.5%;
    margin-right: -5.5%;
    border-style: double;
    
}

*{
    background-color: rgb(200, 190, 243);
}